li.menuitem {
  display: none !important;
}

.map_options_bar {
  opacity: unset;
}

li.floatright.menubutton.clickable.expand_map {
    color: white;
    padding-right: 15px;
}

li.floatright.menubutton.clickable.shrink_map {
    color: white;
    padding-right: 15px;
}
